.node__root>g>rect {
    /* fill: #3a5d95;  */
    fill: #505555;
    box-shadow: 10px 10px;

}

.node__branch>g>rect {
    fill: #92878e;
    box-shadow: 10px 10px;
}

.node__leaf>g>rect {
    fill: #a1b2da;
    box-shadow: 30px 30px;
    /* stroke: black;
    stroke-width: 2; */
}



.rd3t-label>text {
    /* font-style: normal; */
    font-size: small;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */
    font-weight: lighter;

    letter-spacing: 1px
}

feDropShadow {
    background-color: black;
    color: red;
    flood-color: black;
}

.rd3t-node {
    cursor: pointer;
    fill: #777;
    stroke: #000;
    stroke-width: 1;
}

.text-class {
    stroke: #000;
    stroke-width: 1;
}